<div class="container h-200 mt-5">
  <form action="/restaurants" method="post" class="needs-validation">
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">餐廳中文名稱</span>
      </div>
      <input type="text" class="form-control" placeholder="name in chinese" name="name" aria-describedby="basic-addon1" required>
    </div>
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">餐廳英文名稱</span>
      </div>
      <input type="text" class="form-control" placeholder="name in English" name="name_en" aria-describedby="basic-addon2" required>
    </div>
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">餐廳類型</span>
      </div>
      <input type="text" class="form-control" placeholder="category" name="category" aria-describedby="basic-addon3" required>
    </div>
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">餐廳圖片網址</span>
      </div>
      <input type="text" class="form-control" placeholder="image" name="image" aria-describedby="basic-addon４" required>
    </div>
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">餐廳地址</span>
      </div>
      <input type="text" class="form-control" placeholder="location" name="location" aria-describedby="basic-addon5" required>
    </div>
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">餐廳電話</span>
      </div>
      <input type="text" class="form-control" placeholder="phone" name="phone" aria-describedby="basic-addon6"  required>
    </div>
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">餐廳goole_map</span>
      </div>
      <input type="text" class="form-control" placeholder="google_map" name="google_map" aria-describedby="basic-addon7" required>
    </div>
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">餐廳評分</span>
      </div>
      <input type="text" class="form-control" placeholder="rating" name="rating" aria-describedby="basic-addon8" required>
    </div>
    <div class="input-group mb-3 ">
      <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1">餐廳描述</span>
      </div>
      <input type="text" class="form-control" placeholder="description" name="description" aria-describedby="basic-addon9" required>
    </div>
    <button type="submit" class="btn btn-info mb-5">新增餐廳</button>
  </form>
</div>